body {
    height: 100vh;
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header {
    display: flex;
    flex-direction: row;
    padding-top: 0px;
}

img {
    width: auto;
    max-width: 150px;
    max-height: 70px;
}

#logo-section {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#logo-section-2 {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.nav-link {
    display: block;
    font-size: 1.1rem;
    color: white;
}

/* extra small devices */
@media only screen and (max-width: 575.98px) {
    .nav-link {
        width: 40%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .nav-link {
        width: 40%;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .nav-link {
        width: 40%;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .nav-link {
        width: 20%;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav-link {
        width: 20%;
    }
}

.sign:link {
    color: rgb(252, 168, 14);
    text-decoration: underline;
}

.sign:hover {
    color: rgb(252, 168, 14);
    text-decoration: underline;
}

.sign:active {
    color: rgb(252, 168, 14);
    text-decoration: underline;

}

.sign:visited {
    color: rgb(252, 168, 14);
    text-decoration: underline;

}

i {
    color: rgb(209, 138, 5);
    font-size: 2.5rem;
}

#first-section {
    margin-top: 40px;
}

/* extra small devices */
@media only screen and (max-width: 575.98px) {
    #first-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    #first-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    #first-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    #first-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #first-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}

.question-paragraph {
    font-size: 1.5rem;
    color: rgb(209, 138, 5);
}

/* extra small devices */
@media only screen and (max-width: 575.98px) {
    .sensitive {
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .sensitive {
        display: none;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .sensitive {
        display: block;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .sensitive {
        display: block;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .sensitive {
        display: block;
    }
}


/* extra small devices */
@media only screen and (max-width: 575.98px) {
    form {
        width: 70%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    form {
        width: 70%;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    form {
        width: 40%;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    form {
        width: 40%;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    form {
        width: 40%;
    }
}

#first-section input {
    width: 100%;
    border: 1px solid transparent;
    padding: 15px 20px;
    border-radius: 50px;

}

#first-section input:focus {
    border: none;
    outline: 0;
}

#first-section input[value] {
    font-size: 0.9rem;
    color: black;
}

#textbox-1 {
    width: 90%;
    height: 200px;
    border: 1px solid transparent;
    overflow: auto;
}

#textbox-1:focus {
    border: 0;
    outline: none;
}

#textbox-2 {
    width: 90%;
    height: 50px;
    border: 1px solid transparent;
    overflow: auto;
}

#textbox-2:focus {
    border: 0;
    outline: none;
}

.second-section {
    display: flex;

}

/* extra small devices */
@media only screen and (max-width: 575.98px) {
    .second-section {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .second-section {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .second-section {
        width: 80%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .second-section {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .second-section {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

footer {
    border: none;
    border-top: 5px solid rgb(252, 168, 14);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-container {
    display: flex;

}

/* extra small devices */
@media only screen and (max-width: 575.98px) {
    .footer-container {
        flex-direction: column;
        width: 100%;
        margin-left: 20px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .footer-container {
        flex-direction: column;
        margin-left: 20px;
        width: 100%;

    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;
    }
}

.footer-paragraph {
    font-size: 1.3rem;
    color: rgb(252, 168, 14);
}

.footer-1 {
    display: flex;
    flex-direction: column;
}


.footer-paragraph-1 {
    color: white;
    font-size: 1rem;
    text-align: justify;
    width: 75%;


}


/* extra small devices */
@media only screen and (max-width: 575.98px) {
    #footer-1 {
        width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    #footer-1 {
        width: 100%;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    #footer-1 {
        width: 65%;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    #footer-1 {
        width: 65%;

    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #footer-1 {
        width: 65%;

    }
}

/* extra small devices */
@media only screen and (max-width: 575.98px) {
    #footer-2 {
        width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    #footer-2 {
        width: 100%;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    #footer-2 {
        width: 35%;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    #footer-2 {
        width: 35%;

    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #footer-2 {
        width: 35%;

    }
}

/* extra small devices */
@media only screen and (max-width: 575.98px) {
    #footer-3 {
        width: 30%;

    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    #footer-3 {
        width: 50%;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    #footer-3 {
        width: 15%;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    #footer-3 {
        width: 15%;

    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #footer-3 {
        width: 15%;

    }
}

#footer-icon-1 {
    color: rgb(252, 168, 14);
    font-size: 2rem;
}

#footer-icon-2 {
    color: rgb(252, 168, 14);
    font-size: 2rem;
}

#footer-icon-3 {
    color: rgb(252, 168, 14);
    font-size: 2rem;
}

.contact-paragraph {
    color: white;
    font-size: 1.1rem;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* extra small devices */
@media only screen and (max-width: 575.98px) {
    #small-section {
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    #small-section {
        display: none;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    #small-section {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    #small-section {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 40vh;


    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #small-section {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 70vh;


    }
}


/* extra small devices */
@media only screen and (max-width: 575.98px) {
    #main-section {
        width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    #main-section {
        width: 100%;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    #main-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;

    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    #main-section {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;


    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #main-section {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;


    }
}

#general-section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* extra small devices */
@media only screen and (max-width: 575.98px) {
    #general-section {
        height: 100vh;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    #general-section {
        height: 100vh;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    #general-section {
        height: 80vh;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    #general-section {
        height: 60vh;

    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #general-section {
        height: 100vh;
    }
}

.section-2 {
    width: 70%;
}

.trend-special {
    color: rgb(209, 138, 5);
    font-size: 1.3rem;
}

.trend {
    color: white;
    font-size: 1rem;
}

.explore-trend {
    color: rgb(252, 168, 14);
    text-decoration: underline;
    font-size: 1rem;
}

.textbox-button {
    background-color: rgb(209, 138, 5);
    color: white;
    border: 1px solid transparent;
    padding: 2px 12px;
    font-size: 1rem;
    border-radius: 3px;
}

.textbox-button:focus {
    border: 0;
    outline: none;
}

.questions-mini-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.button-spacing {
    margin-right: 20px;
}

.space {
    margin-left: 5px;
}

.align {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heading {
    color: white;
    font-size: 1.2rem;
}

.profile-sign {
    color: white;
    font-size: 1rem;
}

.profile-sign:link {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.profile-sign:active {
    color: white;
    font-size: 1rem;
    text-decoration: none;

}

.profile-sign:hover {
    color: white;
    font-size: 1rem;
    text-decoration: none;

}

.profile-sign:visited {
    color: white;
    font-size: 1rem;
    text-decoration: none;

}

.content-container {
    border: none;
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;

}

/* extra small devices */
@media only screen and (max-width: 575.98px) {
    .content-container {
        width: 35%;
        top: 0%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .content-container {
        width: 25%;
        top: 0%;

    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .content-container {
        width: 25%;
        top: 10%;

    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .content-container {
        width: 20%;
        top: 10%;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content-container {
        width: 15%;
        top: 10%;
    }
}

.content {
    display: flex;

}

/* extra small devices */
@media only screen and (max-width: 575.98px) {
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.profile-link {
    color: rgb(252, 168, 14);
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.profile-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-special {
    color: rgb(252, 168, 14);
    font-size: 1rem;
}

.profile-icon i {
    font-size: 1.2rem;
    margin-right: 10px;
}